/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

@import "bootstrap";

body {
  background-color: rgb(35, 113, 159);
}

.top-buffer {
  margin-top: 10px;
}

.less-margin {
  margin: 3px;
  padding: 8px;
}

.well-hover:hover {
  background-color: #DDDDDD;
}

.ui-draggable-dragging {
  z-index: 100000;
  /* Rotate div */
  transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Safari and Chrome */
}

.hl {
  border: red solid 1px;
}
