<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= list.escape('title') %></h4>
  </div>
  <div id="cards" class="panel-body">
    Cards
  </div>
  <div id="new-card" class="panel-footer">
    <a href="#" id="add-card">Add a card...</a>
  </div>
</div>
